/* all amimation */
 /* .content h1 {
  animation-name: colorChange;
  animation-iteration-count: infinite;
} 

@keyframes colorChange {
  0% {
    color: rgb(240, 235, 235);
  }
  25% {
    color: yellow;
  }
  50% {
    color: #f10a0a;
  }
   
} */
